.list-group-item{
  cursor: pointer;
  font-size: 200%;
}

.title{
  margin-top: 10px;
  font-size: 300%;
  font-family: DauphinPlain;
}

.categories{
  color:gray;
  font-style:italic;
}
.content{
  margin-top: 20px;
  font-size: 200%;
  font-family: 'Open Sans',Arial,sans-serif;
}
